*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


.contain{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(21, 21, 41, 0.454), rgba(0, 0, 50, 0.438)), url(/Images/close-up-hand-writing-notebook-top-view.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/*change*/
.form-box{
    width:100%;
    max-width: 450px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background:#fff;
    padding: 10px 50px 220px;
    text-align: center;
    border-radius:30px ;
    padding-top: 30px;
}



/*change*/


.input-field{
    background: #069df533 ;
    margin: 15px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

input{
    width: 100%;
    background-color: transparent;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 15px 12px;
}

.input-field i{
    margin-left: 15px;
    color: #e6a707;
}

a:hover{
    color: #000000;
}

a{
    text-decoration: none;
    color: #999;
    font-size: 15px;
}

/*change*/
.btn-field{
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:0px;
    margin-bottom: 10px;
    padding-top: 0px;
}

.btn-field input{
    flex-basis:48%;
    background: #069df5;
    color:#fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor:pointer;
    transition:0.5s;
    padding-top: 14px;
}

.input-group{
    height:280px ;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.logo img {
    width: 150px;
    height: 50px;
}

.btn-field input:hover{
background: #e6a507;
}

/*Change*/
@media screen and (max-width:400px) {
    .form-box{
        width:100%;
        
    }

    h3{
        font-size: 1rem;
        text-align:center;
        margin-top: 4%;
    }
    
    .input-group{
        margin-top: 10%;
    }

    .form-box h3::after{
        bottom: 82%;
    }
}